@import url('https://fonts.googleapis.com/css2?wght@1,300&family=Indie+Flower=swap');
html, body{
    font-family:Verdana;
    font-size: 16px;
}
#se{
    position: absolute;
    right: 165px;
    top:36px;
    z-index: 999;
}
.giohang {
    z-index: 99999;
    position: fixed;
    border-radius: 10px ;
    right: 5px;
    top: 5px;
    
    
    padding: 5px;
}
.giohang img{
    width: 40px;
    margin-right: 5px;
}
.giohang span{
    font-weight: bold;
    font-size: 15px;
    color: rgb(29, 23, 23);
    height: 60px;
    line-height: 60px;
}

#showcart{
    z-index: 999999;
    position: fixed;
    border-radius: 5px;
    right: 20px;
    top: 170px;
    padding: 10px;
    height: 70vh;
    background-color: rgb(209, 169, 169);
    border: 1px white solid;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #999;
    padding: 10px;
}

th,
td {
    border: 1px #CCC solid;
    text-align: center;
}

td div {
    width: calc(100% - 20px);
    padding: 0px 10px;
    text-align: right;
}

th div {
    width: calc(100% - 10px);
    padding: 0px 5px;
    text-align: right;
    font-size: 1.5rem;
}

td img {
    width: 100px;
}
#vdt{
    right:10px;
    margin: 1px;
    border:1px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position:fixed; 
    text-align:left;
    bottom: 2px;
    z-index: 100; 
}
header li:hover a{
    background: white;
    border-radius: 5px;
    
}
#vdt{
    right:10px;
    position:fixed;
    text-align: left;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 5px
}
.nav-bar{
    left: 0 !important;
    font-weight: 160px;
}

/* sản phẩm sổ xuống */
.nav-item{
    list-style: none;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdow-conten{
    display: none;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    width: 200px;
}
.dropdown:hover .dropdow-conten{
    display: block;
   
}
/* danh muc */

.category {
    background:rgb(243, 238, 238);
    border-radius: 2px;
    margin: 10px;
    border-radius: 5px;
    
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    list-style: none;
    margin-left: 9px;
}


.catgory-item--active .category-item__link {
    color: var(--primary-color);
}

    .catgory-item--active .category-item__link::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 7px;
        transform: translateY(calc(-50% - 1px));
        border: 4px solid;
        border-color: transparent transparent transparent var(--primary-color);
    }

.category-item__link {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 6px 16px;
    display: block;
    /*transition: right linear 0.1s;*/
    right: 0;
}

    .category-item__link::after {
        content: "";
        position: absolute;
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        left: -9px;
        right: 0;
        bottom: 0;
    }

    .category-item__link:hover {
        color: var(--primary-color);
    }
li{
    text-align: center;
}
/*trang chủ  "Đăng"*/
.text-dang {
    text-align: center !important;
    padding: 100px 0 50px 0;
    margin-top: 80px;
    font-size: 40px;
}

.row1 {
    margin-left: -8px;
    margin-right: -8px;
}

.col1 {
    float:left;
    padding: 0 8px;
}

.col-third {
    width: 33.3333%;
}

.col-harl {
    width: 50%;
}

.col-full {
    width: 100%;
}

.than {
    position: relative;
    margin-top: 800px;
    background:#FEC6D9;
}

#id2{
    border-radius: 5px;
    margin-left: 5px;
    padding:5px 5px;
    cursor: pointer;
    width: 70px;
    height: auto;
    display: inline-block;
}


.navbar {
    
    width: 100%;
    z-index: 999;
    color: rgb(8, 8, 8) !important;
    background-color: rgba(250, 241, 241, 0.6);
   
    
}

.giohang {

    z-index: 99999;
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 100px;
    height: 60px;
    padding: 10px;
}

video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    display: inline-block;
}
        /* transform grow  */
        
.order-first {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
 }

 .order-first:hover, .order-first:focus, .order-first:active {
    -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
 } 
        /* end transform grow  */


    /* transform wobble */
   
/* .order-first {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.order-first:hover, .order-first:focus, .order-first:active  {
    -webkit-animation-name: hvr-wobble-bottom;
    animation-name: hvr-wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


@-webkit-keyframes hvr-wobble-bottom {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-bottom {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  } */

    /* end transform wobble */

@keyframes drop {
    from {
    
        transform: translateY(-20px);
    }

    to {
        
        transform: translateY(0px);
    }

}

.place-body {
    color: #000;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.plance-heading {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: justify;
}

.plance-subheading {
    font-size: 14px;
}

.plance-timember {
    opacity: 0.6;

}

.nav-item {
    text-transform: uppercase;
}

.contacnt  {
    margin:100px 0;
}


.col{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}





.trangcuoi {
     border-top: 2px solid #000;
     margin-top: 20px;
}

html {
    background:#FEC6D9;
}
#header-top {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
   
}

#header-top a {
    font-size: 24px;
    font-weight: 700;
}

.trangcart{
    margin-top: 100px;
}
.bodysp {
    background:#FEC6D9;
}



.dangnhap1 {
    display: flex;
    flex-direction: row;
  }
  .dangnhap1:before, .dangnhap1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
  }
  .dangnhap1:before {
    margin-right: 10px
  }
  .dangnhap1:after {
    margin-left: 10px
  }


small{
    color: black;
}
.dangnhap2 a{
    height: 20px;
    font-size: 17px;
    
    background: #ffffff80;
    padding: 2px 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4;
    padding-left: 4;
    border-top: 1px;
    border-bottom:1px;
    border-left: 1px;
    border-right: 1px;
    border:1px solid #fff;
    line-height:75px;
    box-shadow: 0 0 3px 0 #00000066;
    text-shadow: 0 0 2px 0 #0000004d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dangnhap2 a:hover{
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
}
.qmk{
    margin-left: 200px;
}

#mid span{
    padding-left: 25px;
    color: red;
}

#mid .plance-time {
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px
}  

#mid .start {
    color: yellow;
    font-size: 12px;
    text-align: end;
}

#mid .start span {
    padding: 0;
    color: #000;
}

/* TIN TỨC */

.bg-light a:hover {
    color: #000;
    text-decoration: none;
}

.chandangnhap{
    display: inline-block;
    
}
.chandangnhap a{
    text-decoration: none;
    color: tomato;
}
.chandangnhap1{
    text-align: justify;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
}

/* hover */

.btn-transform{
    color: white;
    background-color: #F0C50F;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position:relative;
    overflow: hidden;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    border: none;
    cursor: pointer;
    width: 120px;
  }

  .btn-transform::before {
      content: '';
      position: absolute;
      top: -30%;
      left: -120%;
      background-color: #fff9;
      height: 150%;
      width: 20%;
      transform: rotate(25deg);
      z-index: -1;
  
  }
  
  .btn-transform:hover::before {
    left: 120%;
    transition: all linear 0.3s;
  }
  

